<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dashboard</title>
	
	<link th:href="@{/assets/css/bootswatch-yeti.min.css}" rel="stylesheet"></link>
	<link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"></link>
	<link th:href="@{/assets/css/bootstrap-switch.min.css}" rel="stylesheet"></link>
	<link th:href="@{/assets/css/document-visualizer-core.css}"
		rel="stylesheet"></link>
	
	<script th:src="@{/assets/js/jquery.js}" src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
	<script th:src="@{/assets/js/bootstrap-switch.min.js}"></script> 
	<script th:src="@{/assets/js/document-visualizer-core.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("input[type='checkbox']").bootstrapSwitch();			
		});
	</script>
</head>
<body>

    <div th:include="/include/header" th:remove="tag"></div>
    
	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>
				Create document
			</h1>
		</div>
		<div class="row">
			<form  th:object="${textSource}" th:action="@{/CreateDocument}" method="POST">
				<div class="col-sm-12 col-md-6">
						<div class="form-group col-lg-12">
							<h3 class="dark-grey">Base configuration</h3>	
						</div>			
					
						<div class="form-group col-lg-6">
							<label>Name</label>
							<input class="form-control" th:field="*{name}" value="Test"/>
						</div>
						<div class="form-group col-lg-6">
							<label>Category</label>
							<input class="form-control"  th:field="*{category}" value="Test"/>
						</div>
					
						<div class="form-group col-lg-12">
							<label>Text</label>
							<textarea class="form-control" th:field="*{text}"></textarea>
						</div>
								
						<div class="form-group col-lg-6">	
							<label>Image service:</label>					
							<select th:field="*{imageService}" class="form-control">
								<option th:each="is : ${imageServiceTypes}"  th:value="${is}" th:text="${#strings.replace(is.name(),'_',' ')}"></option>					
							</select>	
						</div>		
						<div class="form-group col-lg-6">	
							<label>Image type:</label>	
							<select th:field="*{imageType}" class="form-control">
								<option th:each="it: ${imageTypes}" th:value="${it}" th:text="${it.name().toLowerCase()}">clipart</option>					
							</select>
						</div>
						<div class="form-group col-lg-12">
							<button type="submit" class="btn btn-primary">
								Create &amp; process
							</button> 
						</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="form-group col-lg-12">
						<h3>Advanced configuration</h3>	
					</div>
					
					<div class="form-group col-lg-12">
						<label>ExtractorType:</label>
						<div th:each="type : ${extractorTypes}"  class="form-group col-lg-12">
							<input th:id="|extraction-type-${type}|" th:field="*{extractorTypes}"
								th:value="${type}"
								type="checkbox"  th:checked="${#sets.contains(textSource.extractorTypes,type)}"
								data-size="mini"
								data-on-text="Yes" data-on-color="success"
								data-off-text="No" data-off-color="danger" />							
							<label th:for="|extraction-type-${type}|" th:text="${type}">NER Extractor</label>
						</div>	
					</div>	
				</div>
			
			</form>
		</div>		
	</div>
</body>
</html>