<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Documents</title>

<link th:href="@{/assets/css/bootswatch-yeti.min.css}" rel="stylesheet"></link>
<link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"></link>
<link th:href="@{/assets/css/document-visualizer-core.css}"
	rel="stylesheet"></link>

<!-- <script th:src="@{/assets/js/document-visualizer-core.js}"></script> -->
<script th:src="@{/assets/js/jquery.js}" src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<script type="text/javascript">
	/*<![CDATA[*/
	
	/*]]>*/
</script>
</head>
<body>
    <div th:include="/include/header" th:remove="tag"></div>
    
	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>
				<i class="fa fa-files-o"></i> Documents
			</h1>
		</div>
		<div class="row">
			<div th:each="document : ${documents}" class="col-md-3">
				<h4 th:text="${document.name}"></h4>
				<ul>
					<li>Category: <span th:text="${document.category.name}"></span></li>
					<li><a th:href="@{/Documents/{id}(id=${document.id})}">view</a></li>
				</ul>
				<div>
					<span class="label label-default"
						 th:each="kw: ${document.getOccurences().entrySet()}" th:text="|${kw.key} (${kw.value})|"></span>				
				</div>
			</div>
		</div>
	</div>
</body>
</html>