<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Document</title>
<style>
	.gallery {
		position: relative;
		display: block;		
	}
	.gallery > .image {
		float: left;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border: thin solid #aaa;
		position: relative;
	}
	.gallery > .image > img {
	    margin: auto;
	    height:100%;
		text-align: center;
		display: block;
		z-index: 100;
	}
	.gallery > .image > .caption {
		position: absolute;	
		bottom: 0;
		z-index: 1000;		
		width: 100px;		
		opacity: 0;		
		background-color: rgba(0,0,0,0.5);
		color: #fff;		
		text-align: center;
	    -webkit-transition: opacity 0.5s; /* Safari */
	    transition: opacity 0.9s;
	} 
	.gallery > .image:hover > .caption {
		opacity: 1;	
	}

</style>
<link th:href="@{/assets/css/bootswatch-yeti.min.css}" rel="stylesheet"></link>
<link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"></link>
<link th:href="@{/assets/css/document-visualizer-core.css}" rel="stylesheet"></link>
<link th:href="@{/assets/css/blueimp-gallery.min.css}" rel="stylesheet"></link>

<!-- <script th:src="@{/assets/js/document-visualizer-core.js}"></script> -->
<script th:src="@{/assets/js/jquery.js}" src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script th:src="@{/assets/js/blueimp-gallery.min.js}"></script>


<script type="text/javascript">
	/*<![CDATA[*/
	   
	$(document).ready(function() {
		$('.keyword').on('click', function() {
			var start = $(this).data('keyword-start');
			var end = $(this).data('keyword-end');
			console.log(start + ' ' + end);
			$('#document-text').selectRange(start, end);
		});
	});

	$.fn.selectRange = function(start, end) {
		var e = document.getElementById($(this).attr('id')); // I don't know why... but $(this) don't want to work today :-/
		if (!e)
			return;
		else if (e.setSelectionRange) {
			e.focus();
			e.setSelectionRange(start, end);
		} /* WebKit */
		else if (e.createTextRange) {
			var range = e.createTextRange();
			range.collapse(true);
			range.moveEnd('character', end);
			range.moveStart('character', start);
			range.select();
		} /* IE */
		else if (e.selectionStart) {
			e.selectionStart = start;
			e.selectionEnd = end;
		}
	};

	/*]]>*/
</script>
</head>
<body>
    <div th:include="/include/header" th:remove="tag"></div>
    
	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>
				<i class="fa fa-file-text"></i> Document
			</h1>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h2 th:text="${document.name}"></h2>
				<textarea id="document-text" class="form-control" rows="22"
					th:text="${document.text}"></textarea>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2>Keywords</h2>
						<div>
							<span class="label label-default keyword"
								th:each="k : ${document.keywords}"
								th:text="|${k.value} [${k.start},${k.end}]|"
								th:attr="data-keyword-start=${k.start}, data-keyword-end=${k.end}"></span>
						</div>
					</div>
					<div class="col-sm-12 col-md-12">
						<h2>Keywords map</h2>
						<div>
							<span class="badge" th:each="entry : ${document.getOccurences()}"
								th:text="|${entry.key} (${entry.value})|"></span>
						</div>
					</div>
					<div class="col-sm-6 col-md-12">
						<h2>Gallery</h2>
						<div class="gallery">
							<div class="image" th:each="entry : ${document.getKeywordsMap().entrySet()}" 
								th:if="${entry.key.imageUrl}">
			                    <img class="img-responsive" th:src="${entry.key.imageUrl}"
				                    th:alt-title="${entry.key.value}" th:title="${entry.key.value}"/>
			                    <div class="caption">
			                    	<h4 th:text="${entry.key.value}"></h4>
			                    </div>
				            </div>			     
			            </div>       	
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>