<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:menu="http://www.pavelda2.cz/thymeleaf/menu">
<head>
	<title>Headers</title>
</head>
<body>
	 <nav class="navbar navbar-default" role="navigation">
    	  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <div class="navbar-brand navbar-brand-centered" th:text="#{app.name}">Brand</div>
		    </div>

		    <div class="collapse navbar-collapse" id="navbar-brand-centered">
		      <ul class="nav navbar-nav">
		        <li menu:active="exact:/CreateDocument"><a th:href="@{/CreateDocument}">Create document</a></li>
		        <li menu:active="/Documents"><a th:href="@{/Documents}">Documents</a></li>
	          </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a th:href="#{project.wiki}">Project Wiki</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
</body>
</html>