<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|${status} #{|ui.error.${status}.message|}|"></title>

<style type="text/css">
	.error-template {
		padding: 40px 15px px;text-align: center; font-size: 150%;
	}
	.error-template .error-message {
		margin: 5em 0;
	}
	.error-actions .btn {
		margin-right:10px;
	}
</style>

<script type="text/javascript">
	$(document).ready(function() {
		$('.error-template').centerElement();
	});
</script>
</head>
<body>
	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="error-template">
					<div class="error-message">
						<h1 th:text="#{ui.error.page.header}">Chyba</h1>
						<h2><span class="error-status" th:text="${status}">404</span> - <th:block th:utext="#{|ui.error.${status}.message|}">Stránka nebyla nalezena</th:block></h2>
						<div class="error-details">
							<th:block th:utext="#{|ui.error.${status}.message.info|(${uri})}">Info</th:block>
						</div>
					</div>
					<hr/>
					<div class="error-actions">
						<button class="btn btn-success btn-lg" onclick="history.go(-1);">
							<span class="fa fa-arrow-left"></span> Zpět
						</button>
						<a th:href="@{/}" class="btn btn-primary btn-lg"><span class="fa fa-home"></span> Domů </a>
						<a th:href="#{app.support.url}" class="btn btn-warning btn-lg"><span class="fa fa-envelope"></span> Podpora </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>