@CHARSET "UTF-8";

img.img-logo {
	float: left;
	padding: 4px 20px 4px 4px;
}

/* Bootstrap fix */
.table tbody>tr>td {
	vertical-align: middle;
}

/* alert */
.alert a {
	color: #fff;
	text-decoration: underline;	
}


/* headers */
h1, h2, h3 {
	color: #1F3F5E;
}

.footer .text-muted {
	color: #eee;
}

.footer a,
.footer a:hover {
	color: #eee;
}